$primary-color: #272727;
$secondary-color: #ff652f;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease {
  transition: all 0.7s ease-in-out; // want to target any transition
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}

@keyframes move {
  0% {
    transform: translate(0%, 0);
    color:blue;
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 10);
  }
  100% {
    transform: translate(30%, 0);
  }
}

@keyframes myAnimation {
  0% {
    color: red;
  }
  25% {
    color: purple;
    transform: translateX(5%);
  }
  50% {
    color: blue;
    transform: translateY(5%);
  }
  75% {
    color: green;
    transform: translateX(7%);
  }
  100% {
    color: red;
    transform: translateY(7%);
  }
}
