@import "config";

.TeamPage {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.5fr 1fr 1fr ; 

  grid-column-gap: 10px;
  grid-row-gap: 20px;

  .team-name-section {
    :hover {
      animation: myAnimation 0.4s ease-in-out infinite;
      animation-direction: alternate;
    }
    grid-column: span 3;
    justify-self: start;
    align-self: start;
    font-size: 3rem;
    display: inline-block;
  }

  .match-detail-section {
    grid-column: span 4;
    .words {
      span {
        font-size: 2rem;
      }
    }

    :hover {
      .body2 {
        background: white;
        display: flex;
        flex-direction: column;
        height: 10vh;
        justify-content: start;
        align-items: start;
      }

      .words {
        color: red;
        font-size: 0;
        line-height: 1.5;
      }

      .words span {
        display: inline-block;
        animation: move 0.4s ease-in-out infinite;
        animation-direction: alternate;
      }
    }
  }
  .Win-loss-section {
    text-align: right;
    margin-top: 10px;
  }

  .Wins {
    display: inline-block;
    &:hover {
      color: blue;
    }
    &.touched {
      transform: rotate(180deg);
    }
    @include transition-ease;
  }
  .Losses {
    display: inline-block;
    &:hover {
      color: red;
    }
    &.touched {
      transform: rotate(-180deg);
    }
    @include transition-ease;
  }
}
