@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
}

a {
  text-decoration: none;
  color: blueviolet;
}

body {
  margin: 0;
  font-family: "Indie Flower", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 25px;
  background-color: #282c34;
  color: aliceblue;
  max-width: 1400px;
  margin: 0 auto;
}
body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
